# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.so.map
*.o
*.obj

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg-info/
MANIFEST
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
venv/
ENV/

# Virtual Studio Code
.vscode/

# OS-specific files
*.DS_Store
*.WAD
.ropeproject/
.savegame/
.rtf